<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Agregar Cuenta</h3>
        </div>
        <div class="card-body">
            <form action="/cuenta/agregar_cuenta" method="POST">
                <div class="form-group m-4">
                    <select name="tipo_cuenta" id="tipo_cuenta" class="form-select">
                        {{#each tipocuenta_todas}}
                            <option value="{{_id}}" 
                                {{#if (eq nombre_tipo_cuenta nombre_tipo_cuenta_anterior)}}
                                    selected="selected"
                                {{/if}}
                                >{{nombre_tipo_cuenta}}
                            </option>
                        {{/each}}
                    </select>                    
                </div>                
                <div class="form-group m-4">
                    <select name="moneda" id="moneda" class="form-select">
                        {{#each moneda_todas}}
                            <option value="{{_id}}"
                            {{#if (eq nombre_moneda nombre_moneda_anterior)}}
                                selected="selected"
                            {{/if}}
                            >{{nombre_moneda}}</option>
                        {{/each}}
                    </select>                    
                </div>
                <div class="form-group m-4">
                    <select name="cuenta_fisica_o_virtual" id="cuenta_fisica_o_virtual" class="form-select">
                        <option value="fisica"
                            {{#if (eq cuenta_fisica_o_virtual "Fisica")}}
                                selected="selected"
                            {{/if}}
                            >Física</option>
                        <option value="Virtual"
                            {{#if (eq cuenta_fisica_o_virtual "Virtual")}}
                                selected="selected"
                            {{/if}}
                            >Virtual</option>
                    </select>                    
                </div>            
                <div class="form-group m-4">
                    <input type="number" name="saldo" id="saldo" class="form-control" placeholder="Saldo Inicial" maxlength="20" value="{{saldo_inicial}}">                                  
                </div>                
                <div class="form-group m-4">
                    <button type="submit" class="btn btn-primary btn-block m-2">Guardar</button>
                    <a href="/cuenta/cuentas" class="btn btn-light">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>